{{- $repo := .Get "repo" -}}
{{- $lang := .Get "lang" | default "" -}}
{{- $license := .Get "license" | default "" -}}
{{- $user := "dewiweb" -}}
<div style="display:flex;flex-wrap:wrap;gap:6px;margin:1.2rem 0 1.8rem;">
  <a href="https://github.com/{{ $user }}/{{ $repo }}" target="_blank" style="text-decoration:none;">
    <img src="https://img.shields.io/github/stars/{{ $user }}/{{ $repo }}?style=flat-square&logo=github&color=6366f1&labelColor=1e1e2e" alt="GitHub stars" />
  </a>
  <a href="https://github.com/{{ $user }}/{{ $repo }}/commits" target="_blank" style="text-decoration:none;">
    <img src="https://img.shields.io/github/last-commit/{{ $user }}/{{ $repo }}?style=flat-square&color=10b981&labelColor=1e1e2e" alt="Last commit" />
  </a>
  {{- if $lang }}
  <img src="https://img.shields.io/github/languages/top/{{ $user }}/{{ $repo }}?style=flat-square&color=f59e0b&labelColor=1e1e2e" alt="{{ $lang }}" />
  {{- end }}
  {{- if $license }}
  <img src="https://img.shields.io/github/license/{{ $user }}/{{ $repo }}?style=flat-square&color=3b82f6&labelColor=1e1e2e" alt="{{ $license }}" />
  {{- end }}
</div>
